<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
 
<head data-th-fragment="header">
 <meta charset="utf-8" />
 <meta http-equiv="pragma" content="no-cache" />
 <meta http-equiv="expires" content="-1" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <title data-th-text="#{edit.employee}">Title</title>
  
<!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.css"
	data-th-href="@{/resources/css/bootstrap.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/sb-admin-2.css"
	data-th-href="@{/resources/css/sb-admin-2.css}" />
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/select2.css"
	data-th-href="@{/resources/css/select2.css}" />
<!-- <link type="text/css" rel="stylesheet"
	data-th-href="@{/resources/js/angularjs/select2/select.css}" /> -->
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/overrides.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/js/angularjs/boot-datepicker/css/bootstrap-datepicker.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/daterangepicker.css}" />
 

     
    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
        .form-group label { color: white; }
        .form-horizontal .form-group { margin-right: 0px; margin-left: 0px;}
        .add-delete-icon { margin-top: 12px !important; }
        .left-form { float: left;}
        .right-form { float: right;}
        input, select { width: 100% !important;}
        .form-group { margin-top: 2px; margin-bottom: 2px !important;}
        .emp-button { width: 20% !important;}
        #employeesComments { resize: none;}
        input[type="radio"], input[type="checkbox"] {margin: 0;}
        .datepicker-orient-top { z-index: 9999 !important;}
        .has-error .form-control { border: 1px solid red !important;}
        .section-card { background-color: #666E94; padding: 12px; border-radius: 15px; border: 5px solid rgb(14, 23, 60);}
    </style>
     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->
</head>
<body>
 <div class="container-fluid" >                <!-- /#wrapper -->
 
    <div data-th-replace="mainmenu :: top-nav"></div>
    
    <h3 data-th-text="#{edit.employee}">Edit Employee</h3>
    
    <div class="form-container">
    	<div class="alert alert-success" id="successMsg" th:if="${success != null and success != ''}">
    		<span th:text="${success}"></span>
    	</div>
	    <form id="employeeEditForm" class="form-inline" action="#"
			data-th-action="@{/employees/save}" method="post" data-th-object="${emp}">

			<input type='hidden' data-th-field="*{employeesEmployeeId}"></input>
			<!-- <input type='hidden' data-th-field="*{teCard.cardsCardId}"></input> -->
			<div class="left-form col-sm-6 section-card">
				<div class="form-group col-sm-12">
					<label for="title" class="col-sm-4" data-th-text="#{employee.title}">Title :</label>
					<div class="col-sm-8">
			  			<input class="form-control input-sm" data-title="title" maxlength="9"
			  				data-th-field="*{employeesTitle}" type='text' required="required"></input> 
			  			<!-- <input type="hidden" id="titles" data-th-value="  ${titlesEnum}"></input> -->
					</div>		
				</div>
				<div class="form-group col-sm-12">
					<label for="firstname" class="col-sm-4" data-th-text="#{employee.firstname}">Firstname :</label>
					<div class="col-sm-8">
		  				<input data-th-field="*{employeesFirstname}" class="form-control input-sm" 
		  					required="required" placeholder='You must enter first name'/>
		  			</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="surname" class="col-sm-4" data-th-text="#{employee.surname}">Surname :</label>
					<div class="col-sm-8">
		  				<input data-th-field="*{employeesSurname}" class="form-control input-sm" 
		  					required="required" placeholder='You must enter a surname'/>
		  			</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="dateofbirth" class="col-sm-4" data-th-text="#{employee.date.of.birth}">Date of Birth :</label>
					<div class="col-sm-8">
		  				<input data-dateofbirth="dateofbirth" data-th-field="*{employeesDateOfBirth}" 
		  					class="form-control input-sm" required="required" 
		  					placeholder='You must enter a date of birth in format:(dd/mm/yyyy)'/>
		  			</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="address1" class="col-sm-4" data-th-text="#{employee.address1}">Address 1 :</label>
					<div class="col-sm-8">
		  				<input data-th-field="*{employeesAddress1}" class="form-control input-sm" 
		  					placeholder='Enter address line 1 (Leave blank if not required)'/>
		  			</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="address2" class="col-sm-4" data-th-text="#{employee.address2}">Address 2 :</label>
					<div class="col-sm-8">
		  				<input data-th-field="*{employeesAddress2}" class="form-control input-sm"
		  					placeholder='Enter address line 2 (Leave blank if not required)' />
		  			</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="city" class="col-sm-4" data-th-text="#{employee.city}">City / Town :</label>
					<div class="col-sm-8">
		  				<input data-th-field="*{employeesAddress3}" class="form-control input-sm" 
		  					required="required" placeholder='You must enter a city or town'/>
		  			</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="county" class="col-sm-4" data-th-text="#{employee.county}">County :</label>
					<div class="col-sm-8">
			  			<input data-county="county" class="form-control input-sm" data-th-field="*{employeesAddress4}" 
			  				type='text' required="required"></input> 
						<input type="hidden" id="countiesEnum" data-th-value="  ${countiesEnum}"></input>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="postcode" class="col-sm-4" data-th-text="#{employee.postcode}">Post Code :</label>
					<div class="col-sm-8">
		  				<input data-th-field="*{employeesPostCode}" class="form-control input-sm" 
		  					 placeholder='Post Code (if applicable)'/>
		  			</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="country" class="col-sm-4" data-th-text="#{employee.country}">Country :</label>
					<div class="col-sm-8">
			  			<input data-country="country" class="form-control input-sm" data-th-field="*{employeesAddress5}" 
			  				type='text' required="required"></input> 
						<input type="hidden" id="countriesEnum" data-th-value="  ${countriesEnum}"></input>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="nationality" class="col-sm-4" data-th-text="#{employee.nationality}">Nationality :</label>
					<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{employeesNationality}" 
			  				type='text' required="required"></input> 
						<input type="hidden" id="nationalityEnum" data-th-value="  ${nationalityEnum}"></input>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="sex" class="col-sm-4" data-th-text="#{employee.sex}">Sex :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{employeesSex}" 
			  				type='text' required="required"></input> 
						<input type="hidden" id="sexEnum" data-th-value="  ${sexEnum}"></input>
					</div>
				</div>		
				<div class="form-group col-sm-12">
					<label for="phoneNo" class="col-sm-4" data-th-text="#{employee.phone.no}">Phone No :</label>
					<div class="col-sm-8">
			  			<input data-minlength="7" data-th-field="*{employeesPhoneNo}" 
			  				onkeypress="return validateQty(event);"
			  				class="form-control input-sm" placeholder='Please enter a landline no. (Digits only min. 7)'/>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="mobileNo" class="col-sm-4" data-th-text="#{employee.mobile.no}">Mobile No :</label>
					<div class="col-sm-8">
			  			<input data-minlength="7" data-emailorphone="emailorphone" required="required"
			  				data-th-field="*{employeesMobileNo}" class="form-control input-sm" 
			  				onkeypress="return validateQty(event);"
			  				placeholder='Please enter a mobile phone no. (Digits only min. 7)' />
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="email" class="col-sm-4" data-th-text="#{employee.email}">Email :</label>
					<div class="col-sm-8">
			  			<input type="email" data-th-field="*{employeesEmail}" 
			  				class="form-control input-sm" 
			  				placeholder='Please enter an email address' />
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="col-sm-4"><span  data-th-text="#{employee.marital.status}">Marital Status</span></label>
					<div class="col-sm-8">
						<input class="form-control input-sm" data-th-field="*{employeesMaritalStatus}" 
							type='text' required="required"></input> 
						<input type="hidden" id="maritalEnum" data-th-value="  ${maritalEnum}"></input>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="spouseName" class="col-sm-4" data-th-text="#{employee.spouse.name}">Spouse's Name :</label>
					<div class="col-sm-8">
		  				<input data-th-field="*{employeesSpouseName}" class="form-control input-sm"/>
		  			</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="ppsNumber" class="col-sm-4" data-th-text="#{employee.pps.number}">PPS Number :</label>
					<div class="col-sm-8">
		  				<input data-th-field="*{employeesPpsNumber}" class="form-control input-sm" 
		  					pattern="([0-9]{7}[a-zA-Z]{1,2}|[a-zA-Z]{2}[0-9]{6}[a-zA-Z]{1})" maxlength="9"
		  					data-error="You must enter a PPS no. in the correct format (7 digits &#38; 1 or 2 letters) or a National Insurance no. (2 digits &#38; 6 letters &#38; 1 number)"
		  					placeholder='You must enter a PPS no. or National Insurance no. in the correct format'
		  					required="required"/>
		  			</div>
				</div>
			</div>
			
			
				
				<div class="section-card right-form col-sm-6">
					<!-- <div class="form-group col-sm-12">
						<label class="col-sm-5" data-th-text="#{employee.taxable.pay}">Taxable Pay</label>
						<div class="col-sm-7">
							<input type="checkbox" data-th-field="*{employeesHasTaxableEarnings}" value="true" class="form-control input-sm" />
						</div>
					</div> -->
					<input type="hidden" data-th-field="*{pensions[0].pensionPensionId}" />
					<div class="form-group col-sm-12">
						<label for="categoryOfEmployment" class="col-sm-5" data-th-text="#{employee.category.of.employment}">Category of Employment :</label>
						<div class="col-sm-7">
				  			<input class="form-control input-sm" data-th-field="*{pensions[0].employmentCategory}" 
				  				type='text' data-error="You must select an employment category"></input> 
							<input type="hidden" id="employmentCatEnum" data-th-value="  ${employmentCatEnum}"></input>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label for="card" class="col-sm-5" data-th-text="#{employee.pension.trainer}">Trainer</label>
						<div class="col-sm-7">
				  			<input data-th-field="*{pensions[0].pensionTrainerName}" class="form-control input-sm" required="required" />
				  			<input type="hidden" data-th-field="*{pensions[0].pensionTrainer.trainerId}" />
			  			</div>
					</div>
					<div class="form-group col-sm-12">
						<label for="ppsNumber" class="col-sm-5" data-th-text="#{employee.start.date}">Start Date</label>
						<div class="col-sm-7">
			  				<input data-th-field="*{pensions[0].pensionDateJoinedScheme}" class="form-control input-sm"  />
			  			</div>
					</div>
					<div style="display: none;" class="form-group col-sm-12">
						<label for="ppsNumber" class="col-sm-5" data-th-text="#{employee.end.date}">End Date</label>
						<div class="col-sm-7">
			  				<input data-th-field="*{pensions[0].pensionDateLeftScheme}" class="form-control input-sm" />
			  			</div>
					</div>
					<div class="form-group col-sm-12">
						<label for="comments" class="col-sm-5" data-th-text="#{employee.comments}">Comments :</label>
						<div class="col-sm-7">
			  				<textarea data-th-field="*{employeesComments}" class="form-control" cols="34" rows="3"></textarea>
			  			</div>
					</div>
				</div>
				
				<div class="section-card right-form col-sm-6">
					<div class="form-group col-sm-12">
						<label class="col-sm-5" for="cardType" data-th-text="#{employee.card.type}">Card Type :</label>
						<div class="col-sm-7">
				  			<input class="form-control input-sm" data-th-field="*{teCard.cardsCardType}" 
				  				required="required" type='text'></input> 
							<input type="hidden" id="cardTypeEnum" data-th-value="  ${cardTypeEnum}"></input>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-5" for="number" data-th-text="#{employee.card.number}">Card Number :</label>
						<div class="col-sm-7">
			  				<input data-th-field="*{teCard.cardsCardNumber}" class="form-control input-sm" 
			  					required="required" placeholder='Please enter card number' readonly="readonly" />
			  			</div>
					</div>
					<div class="form-group col-sm-12">
						<label for="cardIssueDate" class="col-sm-5" data-th-text="#{employee.issue.date}">Issue Date :</label>
						<div class="col-sm-7">
			  				<input data-th-field="*{teCard.cardsIssueDate}" class="form-control input-sm" 
			  					required="required" placeholder='Please select issue date' />
			  			</div>
					</div>
					<!-- <div class="form-group col-sm-12">
						<label for="oldEmployeeCardNumber" class="col-sm-5" data-th-text="#{employee.old.employee.card.number}">Old Employee Card Number :</label>
						<div class="col-sm-7">
			  				<input data-th-field="*{employeeOldEmployeeCardNumber}" class="form-control input-sm"/>
			  			</div>
					</div> -->
					<div class="form-group col-sm-12">
						<label for="existingAirCardHolder" class="col-sm-5" data-th-text="#{employee.existing.air.card.holder}">Existing AIR Card Holder :</label>
						<div class="col-sm-7">
				  			<select data-th-field="*{employeeExistingAIRCardHolder}" class="form-control input-sm">
				  				<option value=""></option>
				  				<option data-th-value="#{employee.existing.card.holder.yes}" value="Yes" data-th-text="#{employee.existing.card.holder.yes}">Yes</option>
				  				<option data-th-value="#{employee.existing.card.holder.no}" value="No" data-th-text="#{employee.existing.card.holder.no}">No</option>
				  			</select>
				  		</div>
					</div>
					<div class="form-group col-sm-12">
						<label for="existingHriAccountNumber" class="col-sm-5" data-th-text="#{employee.existing.hri.account.number}">Existing HRI Account Number :</label>
						<div class="col-sm-7">
			  				<input data-th-field="*{employeesHriAccountNo}" class="form-control input-sm" 
			  					placeholder="HRI Account No. if applicable" pattern="\w{5}"/>
			  			</div>
					</div>
					<!-- <div class="form-group col-sm-12">
						<label for="lastYearPaid" class="col-sm-5" data-th-text="#{employee.last.year.paid}">Last Year Paid :</label>
						<div class="col-sm-7">
			  				<input data-th-field="*{employeeLastYearPaid}" class="form-control input-sm" 
			  					required="required"/>
			  			</div>
					</div> -->
					<div class="form-group col-sm-12">
						<label for="categoryOfEmployment" class="col-sm-5" data-th-text="#{employee.category.of.employment}">Category of Employment :</label>
						<div class="col-sm-7">
				  			<input class="form-control input-sm" data-th-field="*{employeeCategoryOfEmployment}" 
				  				type='text'></input> 
							<input type="hidden" id="employmentCatEnum" data-th-value="  ${employmentCatEnum}"></input>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label for="requestDate" class="col-sm-5" data-th-text="#{employee.employees.hour.worked}">Employees hour worked :</label>
						<div class="col-sm-7">
			  				<select data-th-field="*{employeeNumHourWorked}" class="form-control input-sm">
			  					<option value="0">less than 8</option>
			  					<option value="1">8 to 19.5</option>
			  					<option value="2">greater than 20</option>
			  				</select>
			  			</div>
					</div>
					<div class="form-group col-sm-12">
						<label for="requestDate" class="col-sm-5" data-th-text="#{employee.request.date}">Request Date :</label>
						<div class="col-sm-7">
			  				<input data-th-field="*{employeeRequestDate}" class="form-control input-sm" />
			  			</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-5" data-th-text="#{employee.tick.if.new}">Tick If New</label>
						<div class="col-sm-7">
							<input type="checkbox" data-th-field="*{employeesIsNew}" value="true" 
								class="form-control input-sm" />
						</div>
					</div>
				</div>
			<div class="section-card col-sm-12">
				<!-- When pension list contains more than 0 records -->
				<div class="edit-pension-form col-sm-12" th:if="${not #lists.isEmpty(emp.histories)}" th:each="str,iterStat : ${emp.histories}">
					<input type="hidden" class="history-id" data-th-field="*{histories[__${iterStat.index}__].ehEmploymentId}" />
					<div class="form-group col-sm-1">
						<label for="card" data-th-text="#{employee.pension.card}">Card :</label>
			  			<select data-th-field="*{histories[__${iterStat.index}__].cardType}" class="form-control input-sm" >
			  				<option value=""></option>
			  				<option data-th-value="#{employee.a}" value="A" data-th-text="#{employee.a}">A</option>
			  				<option data-th-value="#{employee.b}" value="B" data-th-text="#{employee.b}">B</option>
			  			</select>
					</div>
					<div class="form-group col-sm-2">
						<label for="card" data-th-text="#{employee.pension.type}">Pension :</label>
			  			<select data-th-field="*{histories[__${iterStat.index}__].pensionType}" class="form-control input-sm" >
			  				<option value=""></option>
			  				<option data-th-value="#{employee.pension.f}" value="F" data-th-text="#{employee.pension.f}">F</option>
			  				<option data-th-value="#{employee.pension.p}" value="P" data-th-text="#{employee.pension.p}">P</option>
			  				<option data-th-value="#{employee.pension.n}" value="N" data-th-text="#{employee.pension.n}">N</option>
			  			</select>
					</div>		
					<div class="form-group col-sm-2">
						<label for="card" data-th-text="#{employee.pension.trainer}">Trainer</label>
			  			<input placeholder="You must enter trainer name" data-th-field="*{histories[__${iterStat.index}__].trainerName}" required="required" class="form-control input-sm" />
			  			<input type="hidden" data-th-field="*{histories[__${iterStat.index}__].teTrainers.trainerId}" />
					</div>		
					<div class="form-group col-sm-2">
						<label for="requestDate" data-th-text="#{employees.trainer.hri.acc.num}">Trainer HRI A/C Num :</label>
			  			<input placeholder="You must enter Trainer HRI A/c Num" pattern="\w{5}"  
			  				data-th-field="*{histories[__${iterStat.index}__].hriAccNum}" class="form-control input-sm" />
					</div>
					<!-- <div class="form-group col-sm-3">
						<label for="requestDate" data-th-text="#{employee.pension.date.range}">Date Range :</label>
			  			<input data-th-field="*{pensions[0].pensionDateRange}" class="form-control" />
					</div> -->
					<div class="form-group col-sm-2">
						<label for="requestDate" data-th-text="#{employee.pension.from.date}">From Date :</label>
			  			<input placeholder="You must select from date" data-th-field="*{histories[__${iterStat.index}__].ehDateFrom}" class="form-control input-sm" required="required"/>
					</div>
					<div class="form-group col-sm-2">
						<label for="requestDate" data-th-text="#{employee.pension.to.date}">To Date :</label>
			  			<input data-th-field="*{histories[__${iterStat.index}__].ehDateTo}" class="form-control input-sm" />
					</div>
					<div class="form-group col-sm-1 add-delete-icon" th:if="${iterStat.index} &lt; 1">
						<a href="javascript:void(0);" id="addPensionRecord" alt="Add Pension Record" title="Add Pension Record"><i class="fa fa-plus fa-3x"></i></a>
					</div>
					<div class="form-group col-sm-1 add-delete-icon" th:if="${iterStat.index} &gt;= 1">
    					<a href="javascript:void(0);" id="deletePensionRecord" alt="Delete Pension Record" title="Delete Pension Record"><i class="fa fa-trash-o fa-3x"></i></a>
    				</div>
				</div>
				
				<!-- When pension list is empty -->
				<div class="pension-form col-sm-12" th:if="${#lists.isEmpty(emp.histories)}">
					<input type="hidden" class="history-id" data-th-field="*{histories[0].ehEmploymentId}"></input>
					<div class="form-group col-sm-1">
						<label for="card" data-th-text="#{employee.pension.card}">Card :</label>
			  			<select data-th-field="*{histories[0].cardType}" class="form-control input-sm" >
			  				<option value=""></option>
			  				<option data-th-value="#{employee.a}" value="A" data-th-text="#{employee.a}">A</option>
			  				<option data-th-value="#{employee.b}" value="B" data-th-text="#{employee.b}">B</option>
			  			</select>
					</div>
					<div class="form-group col-sm-2">
						<label for="card" data-th-text="#{employee.pension.type}">Pension :</label>
			  			<select data-th-field="*{histories[0].pensionType}" class="form-control input-sm" >
			  				<option value=""></option>
			  				<option data-th-value="#{employee.pension.f}" value="F" data-th-text="#{employee.pension.f}">F</option>
			  				<option data-th-value="#{employee.pension.p}" value="P" data-th-text="#{employee.pension.p}">P</option>
			  				<option data-th-value="#{employee.pension.n}" value="N" data-th-text="#{employee.pension.n}">N</option>
			  			</select>
					</div>		
					<div class="form-group col-sm-2">
						<label for="card" data-th-text="#{employee.pension.trainer}">Trainer</label>
			  			<input placeholder="You must enter trainer name" data-th-field="*{histories[0].trainerName}" class="form-control input-sm" required="required" />
			  			<input type="hidden" data-th-field="*{histories[0].teTrainers.trainerId}" />
					</div>		
					<div class="form-group col-sm-2">
						<label for="requestDate" data-th-text="#{employees.trainer.hri.acc.num}">Trainer HRI A/C Num :</label>
			  			<input placeholder="You must enter Trainer HRI A/c Num" pattern="\w{5}" 
			  				data-th-field="*{histories[0].hriAccNum}" class="form-control input-sm" />
					</div>
					<!-- <div class="form-group col-sm-3">
						<label for="requestDate" data-th-text="#{employee.pension.date.range}">Date Range :</label>
			  			<input data-th-field="*{pensions[0].pensionDateRange}" class="form-control" />
					</div> -->
					<div class="form-group col-sm-2">
						<label for="requestDate" data-th-text="#{employee.pension.from.date}">From Date :</label>
			  			<input placeholder="You must select from date" data-th-field="*{histories[0].ehDateFrom}" class="form-control input-sm" required="required"/>
					</div>
					<div class="form-group col-sm-2">
						<label for="requestDate" data-th-text="#{employee.pension.to.date}">To Date :</label>
			  			<input data-th-field="*{histories[0].ehDateTo}" class="form-control input-sm" />
					</div>
					<div class="form-group col-sm-1 add-delete-icon">
						<a href="javascript:void(0);" id="addPensionRecord" alt="Add Pension Record" title="Add Pension Record"><i class="fa fa-plus fa-3x"></i></a>
					</div>
				</div>
			</div>
			<div class="form-group col-sm-12 text-center">
				<button type="button" id="printButton" class="btn btn-default" th:value="#{employee.print}" >Print</button>
				<button type="button" id="editButton" class="btn btn-success" th:value="#{employee.edit}" >Edit</button>
				<!-- <button type="button" id="deleteButton" class="btn btn-danger" th:value="#{employee.delete}" >Delete</button> -->
				<button type="button" id="exitButton" class="btn btn-danger" th:value="#{employee.exit}" >Exit</button>
			</div>
		</form>
	</div>
	
	
	<!-- Delete Modal -->
	<div id="deleteModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Confirm Delete</h4>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure, you want to delete this record?</p>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" id="deleteConfirm" class="btn btn-danger">Yes</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	
	
	<!-- Edit Modal -->
	<div id="editModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Confirm Edit</h4>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure, you want to edit this record?</p>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" id="editConfirm" class="btn btn-success">Yes</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	      </div>
	    </div>
	
	  </div>
	</div>
    	<!-- /#wrapper -->
    
    <!-- Modal -->
	<div id="historyDeleteConfirm" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Confirmation</h4>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure, you want to delete this record?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" id="historyConfirmYes">Yes</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	      </div>
	    </div>
	
	  </div>
	</div>
</div>              <!-- /#wrapper -->
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../../resources/js/jquery-2.1.1.min.js"
        data-th-src="@{/resources/js/jquery-2.1.1.min.js}"></script>
         
    <script type="text/javascript" src="../../resources/js/validator.min.js"
		data-th-src="@{/resources/js/validator.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../../resources/js/bootstrap.min.js"
        data-th-src="@{/resources/js/bootstrap.min.js}"></script>
 
    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        data-th-src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
         
    <!-- SB Admin Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/sb-admin-2.js}"></script>
    
    <script src="../../resources/js/select2.js" type="text/javascript"
		data-th-src="@{/resources/js/select2.js}"></script>
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/moment/moment.js}"></script>
            
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/daterangepicker/daterangepicker.js}"></script>
    
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/boot-datepicker/js/bootstrap-datepicker.js}"></script>
    
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/typeahead/typeahead.js}"></script>
        
    <script type="text/javascript"
		src="../../resources/js/employee/add.js"
		data-th-src="@{/resources/js/employee/edit.js}"></script>
        
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/	
    	var trainers = [[${trainers}]];
    	var noOfPensionRecord = [[${#lists.size(emp.histories)}]];
    	var card = [[#{employee.pension.card}]];
    	var cardA = [[#{employee.a}]];
    	var cardB = [[#{employee.b}]];
    	var pension = [[#{employee.pension.type}]];
    	var pensionF = [[#{employee.pension.f}]];
    	var pensionP = [[#{employee.pension.p}]];
    	var pensionN = [[#{employee.pension.n}]];
    	var trainer = [[#{employee.pension.trainer}]];
    	var hriAccNum = [[#{employees.trainer.hri.acc.num}]];
    	var dateRange = [[#{employee.pension.date.range}]];
    	var fromDate = [[#{employee.pension.from.date}]];
    	var endDate = [[#{employee.pension.to.date}]];
    	var pensionListSize = [[${#lists.size(emp.histories)}]];
    	var historyEle;
    	
    	$(function() {
    		
    		$('#deleteButton').click(function() {
    			$('#deleteModal').modal('show');
    		});
    		
    		$('#printButton').click(function() {
    			//window.print();
    			var eid = $('#employeesEmployeeId').val();
				window.location.replace('/turfclubPrograms/employees/preview/'+eid);
    		});
    		
    		$('#exitButton').click(function() {
    			window.location.replace('/turfclubPrograms/employees/searchByName');
    		});
    		
			$(document).on('click', '#editConfirm', function() {
    			
				$('#employeeEditForm').submit();
    		});    		
			
			$(document).on('click', '#deleteConfirm', function() {
    			
				var eid = $('#employeesEmployeeId').val();
				window.location.replace('/turfclubPrograms/employees/delete/'+eid);
    		});
    		
    		// setup date pickers
    		$("#teCard\\.cardsIssueDate").datepicker({
    			changeMonth : true,
    			changeYear : true,
    			format: 'dd/mm/yyyy'
    		}).on('changeDate', function(ev){
    		    $(this).datepicker('hide');
    		});
    		
    		// setup date pickers
    		$("#employeesDateOfBirth").datepicker({
    			changeMonth : true,
    			changeYear : true,
    			endDate : '+0d',
    			format: 'dd/mm/yyyy'
    		}).on('changeDate', function(ev){
    		    $(this).datepicker('hide');
    		});
    		
    		$("#pensions0\\.pensionDateJoinedScheme").datepicker({
    			changeMonth : true,
    			changeYear : true,
    			format: 'dd/mm/yyyy'
    		}).on('changeDate', function(ev){
    		    $(this).datepicker('hide');
    		});
    		
    		$("#pensions0\\.pensionDateLeftScheme").datepicker({
    			changeMonth : true,
    			changeYear : true,
    			format: 'dd/mm/yyyy'
    		}).on('changeDate', function(ev){
    		    $(this).datepicker('hide');
    		});
    		
    		$('#pensions0\\.pensionTrainerName').typeahead({
    		    source: trainers
    		}).on('change', function (event, data) {
    		    $('#pensions0\\.pensionTrainer\\.trainerId').val($(this).next().find('li.active').data('value'));
    		});
    		
    		// setup date pickers
    		$("#employeeRequestDate").datepicker({
    			changeMonth : true,
    			changeYear : true,
    			format: 'dd/mm/yyyy'
    		}).on('changeDate', function(ev){
    		    $(this).datepicker('hide');
    		});
    		
    		console.log(pensionListSize);
    		if(pensionListSize < 1) {
	    		$("#histories0\\.ehDateFrom").datepicker({
	    			changeMonth : true,
	    			changeYear : true,
	    			format: 'dd/mm/yyyy'
	    		}).on('changeDate', function(ev){
	    		    $(this).datepicker('hide');
	    		});
	    		
	    		$("#histories0\\.ehDateTo").datepicker({
	    			changeMonth : true,
	    			changeYear : true,
	    			format: 'dd/mm/yyyy'
	    		}).on('changeDate', function(ev){
	    		    $(this).datepicker('hide');
	    		});
	    		
	    		$('#histories0\\.pensionDateRange').daterangepicker({
	   				locale: {
	   		            format: 'DD/MM/YYYY'
	   		        },
	   		     	autoApply: true
	    		}); 
	    		
	    		$('#histories0\\.trainerName').typeahead({
	    		    source: trainers
	    		}).on('change', function (event, data) {
	    		    $('#histories0\\.teTrainers\\.trainerId').val($(this).next().find('li.active').data('value'));
	    		    var ele = $(this);
	    		    $.ajax({
	   					url: '/turfclubPrograms/trainers/json/'+$(this).next().find('li.active').data('value'),
	   					type: 'GET',
	   					data: {},
	   					success: function(data) {
	   						$(ele).parents('div:first').next().find('input').val(data.trainerAccountNo);
	   					}
	   				}); 
	    		});
    		} else {
    			for(var i = 0 ; i < pensionListSize ; i++ ) {
    			
    				$("#histories"+i+"\\.ehDateFrom").datepicker({
    	    			changeMonth : true,
    	    			changeYear : true,
    	    			format: 'dd/mm/yyyy'
    	    		}).on('changeDate', function(ev){
    	    		    $(this).datepicker('hide');
    	    		});
    	    		
    	    		$("#histories"+i+"\\.ehDateTo").datepicker({
    	    			changeMonth : true,
    	    			changeYear : true,
    	    			format: 'dd/mm/yyyy'
    	    		}).on('changeDate', function(ev){
    	    		    $(this).datepicker('hide');
    	    		});
    	    		
    	    		$('#histories'+i+'\\.pensionDateRange').daterangepicker({
    	   				locale: {
    	   		            format: 'DD/MM/YYYY'
    	   		        },
    	   		     	autoApply: true
    	    		});
    	    		$('#histories'+i+'\\.trainerName').typeahead({
    	    		    source: trainers
    	    		}).on('change', function (event, data) {
    	    			var id =  $(this).attr('id');
    	    			id = id.substring(0, id.indexOf('.'));
    	    			id = id.replace('histories', '');
    	    			$('#histories'+id+'\\.teTrainers\\.trainerId').val($(this).next().find('li.active').data('value'));
    	    		    var ele = $(this);
    	    		    $.ajax({
    	   					url: '/turfclubPrograms/trainers/json/'+$(this).next().find('li.active').data('value'),
    	   					type: 'GET',
    	   					data: {},
    	   					success: function(data) {
    	   						$(ele).parents('div:first').next().find('input').val(data.trainerAccountNo);
    	   					}
    	   				});
    	    		});
    			}
    		}
    		
    		$('#addPensionRecord').click(function() {
    			var elem = $('.pension-form');
    			if(pensionListSize >= 1) 
    				elem = $('.edit-pension-form:last');
    				
    			$(elem).after('<div class="add-pension-form col-sm-12">'+
    					'<input type="hidden" class="history-id" id="histories'+noOfPensionRecord+'.ehEmploymentId" name="histories['+noOfPensionRecord+'].ehEmploymentId"></input>'+
    					'<div class="form-group col-sm-1">'+
    					'<label for="card" data-th-text="'+card+'">'+card+'</label>'+
    						'<select id="histories'+noOfPensionRecord+'.cardType" name="histories['+noOfPensionRecord+'].cardType" class="form-control input-sm" >'+
    							'<option value=""></option>'+
    							'<option value="'+cardA+'">'+cardA+'</option>'+
    							'<option value="'+cardB+'">'+cardB+'</option>'+
    						'</select>'+
    				'</div>'+
    				'<div class="form-group col-sm-2">'+
    					'<label for="card" >'+pension+'</label>'+
    						'<select id="histories'+noOfPensionRecord+'.pensionType" name="histories['+noOfPensionRecord+'].pensionType" class="form-control input-sm" >'+
    							'<option value=""></option>'+
    							'<option value="'+pensionF+'" >'+pensionF+'</option>'+
    							'<option value="'+pensionP+'" >'+pensionP+'</option>'+
    							'<option value="'+pensionN+'" >'+pensionN+'</option>'+
    						'</select>'+
    				'</div>		'+
    				'<div class="form-group col-sm-2">'+
    					'<label for="card" >'+trainer+'</label>'+
    						'<input placeholder="You must enter trainer name" id="histories'+noOfPensionRecord+'.trainerName" name="histories['+noOfPensionRecord+'].trainerName" required="required" class="form-control input-sm" />'+
    						'<input type="hidden" id="histories'+noOfPensionRecord+'.teTrainers.trainerId" name="histories['+noOfPensionRecord+'].teTrainers.trainerId" />'+
    				'</div>		'+
    				'<div class="form-group col-sm-2">'+
    					'<label for="requestDate" >'+hriAccNum+'</label>'+
    						'<input  placeholder="You must enter HRI A/c Num" pattern="\w{5}" id="histories'+noOfPensionRecord+'.hriAccNum" name="histories['+noOfPensionRecord+'].hriAccNum" class="form-control input-sm" />'+
    				'</div>'+
    				'<div class="form-group col-sm-2">'+
						'<label for="requestDate" data-th-text="#{employee.pension.from.date}">'+fromDate+'</label>'+
			  			'<input placeholder="You must select from date" name="histories['+noOfPensionRecord+'].ehDateFrom" id="histories'+noOfPensionRecord+'.ehDateFrom" class="form-control input-sm" required="required"/>'+
					'</div>'+
					'<div class="form-group col-sm-2">'+
						'<label for="requestDate" data-th-text="#{employee.pension.to.date}">'+endDate+'</label>'+
			  			'<input name="histories['+noOfPensionRecord+'].ehDateTo" id="histories'+noOfPensionRecord+'.ehDateTo" class="form-control input-sm" />'+
					'</div>'+
    				'<div class="form-group col-sm-1 add-delete-icon">'+
    					'<a href="javascript:void(0);" id="deletePensionRecord" alt="Delete Pension Record" title="Delete Pension Record"><i class="fa fa-trash-o fa-3x"></i></a>'+
    				'</div>'+
    			'</div>');
    			
    			$('#histories'+noOfPensionRecord+'\\.trainerName').typeahead({
        		    source: trainers
        		}).on('change', function (event, data) {
        			var id =  $(this).attr('id');
	    			id = id.substring(0, id.indexOf('.'));
	    			id = id.replace('histories', '');
        			//var index = noOfPensionRecord-1;
        			var index = id;
        		    $('#histories'+index+'\\.teTrainers\\.trainerId').val($(this).next().find('li.active').data('value'));
        		    var ele = $(this);
	    		    $.ajax({
	   					url: '/turfclubPrograms/trainers/json/'+$(this).next().find('li.active').data('value'),
	   					type: 'GET',
	   					data: {},
	   					success: function(data) {
	   						$(ele).parents('div:first').next().find('input').val(data.trainerAccountNo);
	   					}
	   				});
        		});
    			
    			$('#histories'+noOfPensionRecord+'\\.pensionDateRange').daterangepicker({
       				locale: {
       		            format: 'DD/MM/YYYY'
       		        },
       		     	autoApply: true
        		});
    			
    			$("#histories"+noOfPensionRecord+"\\.ehDateFrom").datepicker({
        			changeMonth : true,
        			changeYear : true,
        			format: 'dd/mm/yyyy'
        		}).on('changeDate', function(ev){
        		    $(this).datepicker('hide');
        		});
        		
        		$("#histories"+noOfPensionRecord+"\\.ehDateTo").datepicker({
        			changeMonth : true,
        			changeYear : true,
        			format: 'dd/mm/yyyy'
        		}).on('changeDate', function(ev){
        		    $(this).datepicker('hide');
        		});
    			
    			++noOfPensionRecord;
    		});
    		
    		$(document).on('click', '#deletePensionRecord', function() {
    			/* if($(this).parents('.add-pension-form:first').length > 0)
    				$(this).parents('.add-pension-form:first').remove();
    			else
    				$(this).parents('.edit-pension-form:first').remove(); */
    				
    			historyEle = $(this);
    			$('#historyDeleteConfirm').modal('show');
    		});
    		
    		$(document).on('click', '#historyConfirmYes', function() {
    			var ele = $(historyEle);
    			if($(ele).parents('.add-pension-form:first').length > 0) {
    				$(ele).parents('.add-pension-form:first').remove();
    			} else {
    				var value = $(ele).parents('.edit-pension-form:first').find('.history-id').val();
    				$.ajax({
	   					url: '/turfclubPrograms/employees/history/delete/'+value,
	   					type: 'GET',
	   					data: {},
	   					success: function(data) {
	   						$(ele).parents('.edit-pension-form:first').remove();
	   					}
	   				});
    			}
    			$('#historyDeleteConfirm').modal('hide');
    		});
    	});
    	
    	function validateQty(event) {
    	    var key = window.event ? event.keyCode : event.which;
	
	    	if (event.keyCode == 8 || event.keyCode == 46
	    	 || event.keyCode == 37 || event.keyCode == 39) {
	    	    return true;
	    	}
	    	else if ( key < 48 || key > 57 ) {
	    	    return false;
	    	}
	    	else return true;
    	}
    	/*]]>*/
    </script>    
       	
	</body>
</html>