<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
 
<head data-th-fragment="header">
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <title data-th-text="#{manage.employee.staff.page.title}">Title</title>
  
<!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.css"
	data-th-href="@{/resources/css/bootstrap.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/select2.css"
	data-th-href="@{/resources/css/select2.css}" />
<link type="text/css" rel="stylesheet"
	data-th-href="@{/resources/js/angularjs/select2/select.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/overrides.css}" />
 

     
    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
        .width-40 { width: 40%;}
        .width-60 { width: 60%;}
        .width-100 {width: 100%;}
    </style>
     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->
</head>
<body>
 <div class="container-fluid" >                <!-- /#wrapper -->
 
    <div data-th-replace="mainmenu :: top-nav"></div>
    
    <h3 data-th-text="#{manage.employee.staff}">Manage Employee Staff</h3>
    
    <div class="home-parent">
    	<!-- <div class="home-links-parent">
    		<a href="javascript:void(0);" class="home-links col-sm-6"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.employee.printouts}">Employee Printouts</span></a>
    		<a href="javascript:void(0);" class="home-links col-sm-6"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.stableyard.list}">StableYard List</span></a>
    	</div>-->
    	<div class="home-links-parent">
    		<a href="#/empAdd" data-th-href="@{/employees/add}" class="home-links col-sm-6"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.add.new.employee}">Add new Employee</span></a>
    		<a href="javascript:void(0);" class="home-links col-sm-6"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.list.trainers.employees}">List Trainer's Employees</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a data-th-href="@{/employees/searchByName}" class="home-links col-sm-6"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.search.for.employee}">Search For Employee</span></a>
    		<a data-th-href="@{/employees/partFullTimeStat}" class="home-links col-sm-6"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.full.time.part.time.stats}">Full Time / Part Time Stats</span></a>
    	</div>
    	<div class="home-links-parent">
    		<!-- <a href="javascript:void(0);" class="home-links col-sm-6" data-toggle="modal" data-target="#searchNumberModal"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.search.by.number}">Search By Number</span></a> -->
    		<a href="javascript:void(0);" class="home-links col-sm-6"><i class="fa fa-arrows" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.create.air.file.transfer}">Create AIR File Transfer</span></a>
    		<a href="javascript:void(0);" class="home-links col-sm-6"><i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.stable.bonus.scheme}">Stable Bonus Scheme</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a data-th-href="@{/trainers/add}" class="home-links col-sm-6"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.add.trainer}">Add Trainer</span></a>
    		<!-- <a href="javascript:void(0);" class="home-links col-sm-6"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.list.of.employees}">List of Employees</span></a> -->
    		
    	</div>
    </div>
</div>              <!-- /#wrapper -->

	<!-- Modal -->
	<div id="searchNumberModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Search By Number</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" id="searchNumberForm" role="form">
					 	<div class="form-group width-100">
							<label for="" class="width-40">Number :</label>
				  				<input type="text" id="searchNumber" name="searchNumber" class="form-control input-sm width-60"/>
						</div>
				 	</form>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default">Search</button> -->
				  	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		
		</div>
	</div>
	
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../../resources/js/jquery-2.1.1.min.js"
        data-th-src="@{/resources/js/jquery-2.1.1.min.js}"></script>
         
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../../resources/js/bootstrap.min.js"
        data-th-src="@{/resources/js/bootstrap.min.js}"></script>
 
    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        data-th-src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
         
    <!-- SB Admin Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/sb-admin-2.js}"></script>
        
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/typeahead/typeahead.js}"></script>
        
   <script type="text/javascript" th:inline="javascript">
    	/*<![CDATA[*/
    	
    	var cards = [[${cards}]];
    	$(function() {
    		$('#searchNumber').typeahead({
    		    source: cards
    		}).on('blur', function (event, data) {
    		    window.location.replace('/turfclubPrograms/employees/getByCardId/'+$(this).next().find('li.active').data('value'));
    		});
    	});
    	
    	function searchByNumberPopup() {
    		
    		$("#searchNumberModal").modal('show');
    	}
    	/*]]>*/
    </script>
        </body>
        
    
</html>