<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
 
<head data-th-fragment="header">
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <title data-th-text="#{manage.employee.staff.page.title}">Title</title>
  
<!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.css"
	data-th-href="@{/resources/css/bootstrap.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/select2.css"
	data-th-href="@{/resources/css/select2.css}" />
<link type="text/css" rel="stylesheet"
	data-th-href="@{/resources/js/angularjs/select2/select.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/overrides.css}" />
 

     
    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
        .width-40 { width: 40%;}
        .width-60 { width: 60%;}
        .width-100 {width: 100%;}
        h1 { color: black !important;}
    </style>
     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->
</head>
<body>
 <div class="container-fluid" >                <!-- /#wrapper -->
 
    <div data-th-replace="mainmenu :: top-nav"></div>
    
    <h3 data-th-text="#{manage.employee.staff}">Manage Employee Staff</h3>
    
    <div class="alert alert-success" id="successMsg" style="display: none;">
   		<span th:text="${success}"></span>
   	</div>
   	<div class="alert alert-success" id="successMsg" th:if="${success != null and success != ''}">
    		<span th:text="${success}"></span>
    	</div>
    	<div class="alert alert-danger" id="errorMsg" th:if="${error != null and error != ''}">
    		<span th:text="${error}"></span>
    	</div>
    
    <div class="home-parent" data-th-with="role=${#httpServletRequest.userPrincipal?.authorities[0].authority}">
    	<!-- <div class="home-links-parent">
    		<a href="javascript:void(0);" class="home-links col-sm-6"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.employee.printouts}">Employee Printouts</span></a>
    		<a href="javascript:void(0);" class="home-links col-sm-6"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.stableyard.list}">StableYard List</span></a>
    	</div>-->
    	<div class="home-links-parent">
    		<a href="#/empAdd" data-th-href="@{/employees/add}" class="home-links col-sm-6"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.add.new.employee}">Add new Employee</span></a>
    		<a data-th-href="@{/trainers/list}" class="home-links col-sm-6"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.list.trainers.employees}">List Trainer's Employees</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a data-th-href="@{/employees/searchByName}" class="home-links col-sm-6"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.search.for.employee}">Search For Employee</span></a>
    		<a data-th-href="@{/employees/partFullTimeStat}" class="home-links col-sm-6"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.full.time.part.time.stats}">Full Time / Part Time Stats</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a data-th-href="@{/air/all}" class="home-links col-sm-6"><i class="fa fa-arrows" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.create.air.file.transfer}">Create AIR File Transfer</span></a>
    		<a data-th-href="@{/trainers/sbs/get}" class="home-links col-sm-6"><i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.stable.bonus.scheme}">Stable Bonus Scheme</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a data-th-href="@{/trainers/searchPage}" class="home-links col-sm-6"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.search.for.trainer}">Search For Trainer</span></a>
    		<a data-th-href="@{/employees/advSearch}" class="home-links col-sm-6"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.advance.search}">Advance Search</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a data-th-href="@{/trainers/add}" class="home-links col-sm-6"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.add.trainer}">Add Trainer</span></a>
    		<a data-th-href="@{/employees/inapprove/list}" class="home-links col-sm-6"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.approve.employees}">Approve Employees</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a data-th-href="@{/trainers/print/renewal/print/Renewal}" target="_blank" class="home-links col-sm-6"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.print.renewal.list}">Print Renewal List</span></a>
    		<a data-th-href="@{/employees/viewPPS}" class="home-links col-sm-6"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.view.pps.number}">View PPS Number</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a data-th-href="@{/trainers/license/print/Trainer}" target="_blank" class="home-links col-sm-6"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.license.trainer.list}">License Trainer List</span></a>
    	</div>
    	<div class="home-links-parent">	
    		<a th:if="${role == 'SUPER_USER'}" data-th-href="@{/user/searchPage}" class="home-links col-sm-6"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;<span data-th-text="#{link.search.user}">Search User</span></a>
    	</div>
    	<div class="home-links-parent">
    		<div class="col-sm-6">&nbsp;</div>
    		<div class="col-sm-6">
    			<button class="btn btn-default" id="aintreeBtn"><span data-th-text="#{button.aintree}"></span></button>
    			<button class="btn btn-default" id="cheltenhamBtn"><span data-th-text="#{button.cheltenham}"></span></button>
    		</div>
    	</div>
    </div>
</div>              <!-- /#wrapper -->

	<!-- Modal -->
	<div id="searchNumberModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Search By Number</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" id="searchNumberForm" role="form">
					 	<div class="form-group width-100">
							<label for="" class="width-40">Number :</label>
				  				<input type="text" id="searchNumber" name="searchNumber" class="form-control input-sm width-60"/>
						</div>
				 	</form>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default">Search</button> -->
				  	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		
		</div>
	</div>
	
	<div id="copyRecordEmployeeModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" data-th-text="#{link.save.employee.record.into.person.table}">Save Trainer record into Person table</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" role="form">
					 	<div class="form-group width-100">
							<label for="" class="">Are you sure you want to save Employee record into Person table?</label>
						</div>
						<div class="form-group width-100">
							<label for="" class="">&nbsp;</label>
						</div>
						<div class="form-group width-100">
							<label for="" class="">NOTE : It will take long time.</label>
						</div>
				 	</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="confirmcopyRecordEmployee">Yes</button>
				  	<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="copyRecordTrainerModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" data-th-text="#{link.save.trainer.record.into.person.table}">Save Trainer record into Person table</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" id="searchNumberForm" role="form">
					 	<div class="form-group width-100">
							<label for="" class="">Are you sure you want to save Trainer record into Person table?</label>
						</div>
						<div class="form-group width-100">
							<label for="" class="">&nbsp;</label>
						</div>
						<div class="form-group width-100">
							<label for="" class="">NOTE : It will take long time.</label>
						</div>
				 	</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="confirmcopyRecordTrainer">Yes</button>
				  	<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="encryptPPSNumberModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" data-th-text="#{link.encrypt.pps.number}">Save Trainer record into Person table</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" id="searchNumberForm" role="form">
					 	<div class="form-group width-100">
							<label for="" class="">Are you sure you want to encrypt PPS Number?</label>
						</div>
				 	</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="confirmEncryptPPS">Yes</button>
				  	<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../../resources/js/jquery-2.1.1.min.js"
        data-th-src="@{/resources/js/jquery-2.1.1.min.js}"></script>
        
    <script type="text/javascript" src="../../resources/js/jquery.blockui.js"
        data-th-src="@{/resources/js/jquery.blockui.js}"></script>
         
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../../resources/js/bootstrap.min.js"
        data-th-src="@{/resources/js/bootstrap.min.js}"></script>
 
    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        data-th-src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
         
    <!-- SB Admin Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/sb-admin-2.js}"></script>
        
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/typeahead/typeahead.js}"></script>
        
   <script type="text/javascript" th:inline="javascript">
    	/*<![CDATA[*/
    	
    	var cards = [[${cards}]];
    	$(function() {
    		
    		$("#encryptPPSLink").click(function() {
    			$('#encryptPPSNumberModal').modal('show');
    		});
    		
    		$('#aintreeBtn').click(function() {
    			window.open('/turfclubPrograms/trainers/aintree/print/Aintree', '_blank');
    		});
    		
    		$('#cheltenhamBtn').click(function() {
    			window.open('/turfclubPrograms/trainers/cheltenham/print/Cheltenham', '_blank');
    		});
    		
    		$('#confirmEncryptPPS').click(function() {
    			
    			$('#encryptPPSNumberModal').modal('hide');
    			$.blockUI({css: {color: 'black'}});
    			$.ajax({
    				url: '/turfclubPrograms/employees/encryptPPS',
    				type: 'GET',
    				data: {},
    				success: function(data) {
    					$.unblockUI();
    					$('#successMsg').find('span').html(data);
    					$('#successMsg').show();
    					setTimeout(function() {
    						$('#successMsg').hide();	
    					}, 5000);
    				}
    			});
    		});
    		
    		$('#searchNumber').typeahead({
    		    source: cards
    		}).on('blur', function (event, data) {
    		    window.location.replace('/turfclubPrograms/employees/getByCardId/'+$(this).next().find('li.active').data('value'));
    		});
    		
    		$('#copyRecordTrainer').click(function() {
    			
    			$('#copyRecordTrainerModal').modal('show');
    		});
    		
			$('#copyRecordEmployee').click(function() {
    			
    			$('#copyRecordEmployeeModal').modal('show');
    		});
    		
    		$(document).on('click', '#confirmcopyRecordTrainer', function() {
    			
    			$('#copyRecordTrainerModal').modal('hide');
    			$.blockUI({css: {color: 'black'}});
    			$.ajax({
    				url: '/turfclubPrograms/trainers/person/copyRecord',
    				type: 'GET',
    				data: {},
    				success: function(data) {
    					$.unblockUI();
    					$('#successMsg').find('span').html(data);
    					$('#successMsg').show();
    					setTimeout(function() {
    						$('#successMsg').hide();	
    					}, 5000);
    				}
    			});
    		});
    		
			$(document).on('click', '#confirmcopyRecordEmployee', function() {
    			
    			$('#copyRecordEmployeeModal').modal('hide');
    			$.blockUI({css: {color: 'black'}});
    			$.ajax({
    				url: '/turfclubPrograms/employees/person/copyRecord',
    				type: 'GET',
    				data: {},
    				success: function(data) {
    					$.unblockUI();
    					$('#successMsg').find('span').html(data);
    					$('#successMsg').show();
    					setTimeout(function() {
    						$('#successMsg').hide();	
    					}, 5000);
    				}
    			});
    		});
    	});
    	
    	function searchByNumberPopup() {
    		
    		$("#searchNumberModal").modal('show');
    	}
    	/*]]>*/
    </script>
        </body>
        
    
</html>