<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
 
<head data-th-fragment="header">
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <title data-th-text="#{sbs.form}">SBS Form</title>
  
<!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.css"
	data-th-href="@{/resources/css/bootstrap.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/select2.css"
	data-th-href="@{/resources/css/select2.css}" />
<link type="text/css" rel="stylesheet"
	data-th-href="@{/resources/js/angularjs/select2/select.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/overrides.css}" />
 

     
    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
        .width-40 { width: 40%;}
        .width-60 { width: 60%;}
        .width-100 {width: 100%;}
        h1 { color: black !important;}
        .home-links {color: #777;}
    </style>
     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->
</head>
<body>
 <div class="container-fluid" >                <!-- /#wrapper -->
 
    <div data-th-replace="mainmenu :: top-nav"></div>
    
    <h3 data-th-text="#{sbs.form}">SBS Form	</h3>
    
    <div class="alert alert-success" id="successMsg" style="display: none;">
   		<span th:text="${success}"></span>
   	</div>
   	<div class="alert alert-danger" id="errorMsg" style="display: none;">
   		<span></span>
   	</div>
    
    <div class="home-parent" style="margin: auto;width: 60%;text-align: center;background-color: white;">
    	<div class="home-links-parent">
    		<a data-th-href="@{/trainers/sbs/uploadPage}" id="saveHRIReport" class="home-links col-sm-12">&nbsp;&nbsp;<span data-th-text="#{save.hri.report.here}">1. Save HRI Report Here</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a href="javascript:void(0);" id="initialLetterLink" class="home-links col-sm-6">&nbsp;&nbsp;<span data-th-text="#{generate.initial.letter.labels}">2. Generate Initial Letter/Labels</span></a>
    		<a href="javascript:void(0);" id="reprintLink" class="home-links col-sm-6">&nbsp;&nbsp;<span data-th-text="#{reprint}">Reprint</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a th:href="@{/trainers/sbs/returned}" class="home-links col-sm-12">&nbsp;&nbsp;<span data-th-text="#{enter.agreements.returned}">3. Enter Agreements Returned</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a href="javascript:void(0);" id="msgReminderLink" class="home-links col-sm-12">&nbsp;&nbsp;<span data-th-text="#{send.text.message.reminder}">4. Send Text Message Reminder</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a th:href="@{/trainers/sbs/returned}" class="home-links col-sm-12">&nbsp;&nbsp;<span data-th-text="#{fifth.enter.agreements.returned}">5. Enter Agreements Returned</span></a>
    	</div>
    	<div class="home-links-parent">
    		<a href="javascript:void(0);" id="finalReminderLink" class="home-links col-sm-12">&nbsp;&nbsp;<span data-th-text="#{generate.final.reminder.letter.labels}">6. Generate FINAL Reminder Letter / Labels</span></a>
    	</div>
    	
    </div>
    
    <div id="initialWarning" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Warning</h4>
	      </div>
	      <div class="modal-body">
	        <p><img alt="Warning" src="../../resources/img/warning.png" style="margin-right: 10px;"/>You can only run this ONCE for each NEW quarter!</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="initialWarningBtn" class="btn btn-default">OK</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	
	<div id="initialSelectPopup" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Select</h4>
	      </div>
	      <div class="modal-body">
	        <p><img alt="Confirmation" src="../../resources/img/question_mark.png" style="margin-right: 10px;"/>Are you sure this is the 1st time you have run this routine for this quarter?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" id="selectPopupBtn">Yes</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div id="initialFormPopup" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Enter Parameter Value</h4>
	      </div>
	      <div class="modal-body">
	        <p>
	        	<span style="display: none; color: red;" id="errorSpan">Please fill the fields</span><br/>
	        	Enter Return Date : <input type="text" class="form-control" id="returnDate" name="returnDate"/><br/>
	        	Enter Quarter : <input type="text" class="form-control" id="quarter" name="quarter"/>
	        </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" id="formBtn">OK</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div id="finalReminderSelectPopup" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Select</h4>
	      </div>
	      <div class="modal-body">
	        <p><img alt="Confirmation" src="../../resources/img/question_mark.png" style="margin-right: 10px;"/>Are you sure you want to generate the Final Reminder Letter?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" id="finalReminderSelectPopupBtn">Yes</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div id="finalReminderFormPopup" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Enter Parameter Value</h4>
	      </div>
	      <div class="modal-body">
	        <p>
	        	<span style="display: none; color: red;" id="reminderErrorSpan">Please fill the fields</span><br/>
	        	Enter Return Date : <input type="text" class="form-control" id="reminderReturnDate" name="reminderReturnDate"/><br/>
	        	Enter Quarter : <input type="text" class="form-control" id="reminderQuarter" name="reminderQuarter"/>
	        </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" id="finalReminderFormBtn">OK</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div id="reprintPopup" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Enter Parameter Value</h4>
	      </div>
	      <div class="modal-body">
	        <p>
	        	<span style="display: none; color: red;" id="errorReprintSpan">Please fill the fields</span><br/>
	        	Enter Trainer Id : <input type="text" class="form-control" id="reprintTrainerId" name="reprintTrainerId"/><br/>
	        	Enter Return Date : <input type="text" class="form-control" id="reprintReturnDate" name="reprintReturnDate"/><br/>
	        	Enter Quarter : <input type="text" class="form-control" id="reprintQuarter" name="reprintQuarter"/>
	        </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" id="reprintFormBtn">OK</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
	
</div>              <!-- /#wrapper -->

	
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../../resources/js/jquery-2.1.1.min.js"
        data-th-src="@{/resources/js/jquery-2.1.1.min.js}"></script>
        
    <script type="text/javascript" src="../../resources/js/jquery.blockui.js"
        data-th-src="@{/resources/js/jquery.blockui.js}"></script>
         
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../../resources/js/bootstrap.min.js"
        data-th-src="@{/resources/js/bootstrap.min.js}"></script>
 
    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        data-th-src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
         
    <!-- SB Admin Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/sb-admin-2.js}"></script>
        
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/typeahead/typeahead.js}"></script>
        
        <script type="text/javascript" src="../../resources/js/jquery-inputmask.js"
        data-th-src="@{/resources/js/jquery-inputmask.js}"></script>
        
   <script type="text/javascript" th:inline="javascript">
    	/*<![CDATA[*/
    	
		var isExistsTrainerId = false;
    	$(function() {
    		
    		$('#reprintFormBtn').click(function() {
    			var tId = $('#reprintTrainerId').val();
    			var returnDate = $('#reprintReturnDate').val();
    			var quarter = $('#reprintQuarter').val();
    			if(!isExistsTrainerId) {
    				$('#errorReprintSpan').html('Trainer Id is not exists');
					$('#errorReprintSpan').show();
    				setTimeout(function() {
    					$('#errorReprintSpan').hide();	
    				}, 5000);
    			} else if(returnDate != '' && quarter != '' && tId != '') {
    				$('#reprintPopup').modal('hide');
    				window.location.href = '/turfclubPrograms/trainers/sbs/reprint?r='+returnDate+'&q='+quarter+'&t='+tId;
    			} else {
    				$('#errorReprintSpan').html('Please fill fields');
					$('#errorReprintSpan').show();
    				setTimeout(function() {
    					$('#errorReprintSpan').hide();	
    				}, 5000);
    			}
    		});
    		
    		$('#msgReminderLink').click(function() {
    			
    			$.blockUI();
    			$.ajax({
    				url: '/turfclubPrograms/trainers/sbs/msgReminder',
    				type: 'GET',
    				data: {},
    				success: function(data) {
    					$('#successMsg').find('span').html('Successfully created SMSReminder.txt file');
    					$('#successMsg').show();
    					$.unblockUI();
    					setTimeout(function() {
    						$('#successMsg').find('span').html('');
    						$('#successMsg').hide();
    					}, 5000);
    				}
    			});
    		});
    		
    		$('#reprintTrainerId').change(function() {
    			
    			var tId = $(this).val();
    			if(tId != '') {
	    			$.ajax({
	    				url: '/turfclubPrograms/trainers/sbs/existsTrainerId',
	    				type: 'GET',
	    				data: {tId : tId},
	    				success: function(data) {
	    					console.log(data);
	    					isExistsTrainerId = data.exists;
	    					if(!data.exists) {
	    						$('#errorReprintSpan').html(data.message);
	    						$('#errorReprintSpan').show();
	    						setTimeout(function() {
	    							$('#errorReprintSpan').hide();	
	    						}, 5000);
	    					}
	    				}
	    			});
    			}
    		});
    		
    		$('#returnDate').mask("99/99/9999",{placeholder:"mm/dd/yyyy"});
    		
    		$('#reminderReturnDate').mask("99/99/9999",{placeholder:"mm/dd/yyyy"});
    		
    		$('#reprintReturnDate').mask("99/99/9999",{placeholder:"mm/dd/yyyy"});
    		
    		$('#reprintLink').click(function() {
    			
    			$('#reprintPopup').modal('show');
    		});
    		
    		$('#initialLetterLink').click(function() {
    			$('#initialWarning').modal('show');
    		});
    		
    		$('#initialWarningBtn').click(function() {
    			$('#initialWarning').modal('hide');
    			$('#initialSelectPopup').modal('show');
    		});
    		
    		$('#selectPopupBtn').click(function() {
    			$('#initialSelectPopup').modal('hide');
    			$('#initialFormPopup').modal('show');
    		});
    		
    		$('#finalReminderLink').click(function() {
    			$('#finalReminderSelectPopup').modal('show');
    		});
    		
    		$('#finalReminderSelectPopupBtn').click(function() {
    			$('#finalReminderSelectPopup').modal('hide');
    			$('#finalReminderFormPopup').modal('show');
    		});
    		
    		$('#finalReminderFormBtn').click(function() {
    			var returnDate = $('#reminderReturnDate').val();
    			var quarter = $('#reminderQuarter').val();
    			if(returnDate != '' && quarter != '' ) {
    				if(quarter == '1' || quarter == '2' || quarter == '3' || quarter == '4') {
    					$('#finalReminderFormPopup').modal('hide');
    					window.open('/turfclubPrograms/trainers/sbs/finalReminder?r='+returnDate+'&q='+quarter, '_blank');
    				} else {
    					$('#reminderErrorSpan').html('Quarter Value must be 1,2,3 or 4')
    					$('#reminderErrorSpan').show();
        				setTimeout(function() {
        					$('#reminderErrorSpan').hide();	
        				}, 5000);
    				}
    					
    			} else {
    				$('#reminderErrorSpan').html('Please fill the fields')
    				$('#reminderErrorSpan').show();
    				setTimeout(function() {
    					$('#reminderErrorSpan').hide();	
    				}, 5000);
    			}
    		});
    		
    		$('#formBtn').click(function() {
    			var returnDate = $('#returnDate').val();
    			var quarter = $('#quarter').val();
    			if(returnDate != '' && quarter != '' ) {
    				if(quarter == '1' || quarter == '2' || quarter == '3' || quarter == '4') {
    					$('#initialFormPopup').modal('hide');
    					window.open('/turfclubPrograms/trainers/sbs/initialLetter?r='+returnDate+'&q='+quarter, '_blank');
    				} else {
    					$('#errorSpan').html('Quarter Value must be 1,2,3 or 4')
    					$('#errorSpan').show();
        				setTimeout(function() {
        					$('#errorSpan').hide();	
        				}, 5000);
    				}
    					
    			} else {
    				$('#errorSpan').html('Please fill the fields')
    				$('#errorSpan').show();
    				setTimeout(function() {
    					$('#errorSpan').hide();	
    				}, 5000);
    			}
    		});
    		
    		$('#uploadSubmitBtn').click(function() {
    			var formData = new FormData();
    			formData.append("files", $('input[type="file"]')[0].files);
    			var action = $('#fileUploadForm').attr('action');
    			console.log(action);
    			
    			$.ajax({
    				url: action,
    		        type: 'POST',
    		        data: formData,
    		        async: false,
    		        cache: false,
    		        processData: false, // Don't process the files
    		        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
    		        success: function(data, textStatus, jqXHR)
    		        {
    		        	console.log(data);	
    		        },
    		        error: function(jqXHR, textStatus, errorThrown)
    		        {
    		            // Handle errors here
    		            console.log('ERRORS: ' + textStatus);
    		            // STOP LOADING SPINNER
    		        }
    			});
    		});
    	});
    	
    	
    	/*]]>*/
    </script>
        </body>
        
    
</html>