<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
 
<head data-th-fragment="header">
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <title data-th-text="#{link.list.trainers.employees}">List Trainer's Employees</title>
  
<!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.css"
	data-th-href="@{/resources/css/bootstrap.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
	
<link type="text/css" rel="stylesheet"
	href="../../resources/css/jquery-ui-1.10.3.custom.css"
	data-th-href="@{/resources/css/jquery-ui-1.10.3.custom.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/select2.css"
	data-th-href="@{/resources/css/select2.css}" />
<link type="text/css" rel="stylesheet"
	data-th-href="@{/resources/js/angularjs/select2/select.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/overrides.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/datatables/jquery.datatables.min.css"
	data-th-href="@{/resources/css/datatables/jquery.dataTables.min.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/datatables/buttons.datatable.min.css"
	data-th-href="@{/resources/css/datatables/buttons.dataTables.min.css}" />
	
    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
        .section-card { background-color: #666E94;}
        th { text-align: center; color: white; vertical-align: inherit !important;}
        .width-50 { width: 50% !important;}
        .margin-bottom-10 { margin-bottom: 10px;}
        /* .form-group { width: 100% !important;} */
        form input { margin-bottom:  5px; }
        .errorMsg { color: red;}
        input[type="search"] { color: black !important;}
        label { color: white; }
        .pull-right { text-align: right;}
        .paginate_button { color: white !important; }
        .dataTables_info { color: white !important; }
        h4{ color: white !important; }
        .yellow-background {background-color: yellow !important;}
    </style>
</head>
<body>
 <div class="container-fluid" >                <!-- /#wrapper -->

	<div data-th-replace="mainmenu :: top-nav"></div>
    
    <h3 data-th-text="#{list.of.employees}">List Of Employees</h3>

    <div class="">
    	<div class="alert alert-success" id="successMsg" th:if="${success != null and success != ''}">
    		<span th:text="${success}"></span>
    	</div>
    	
    	<h4 class="text-center" data-th-text="${trainer.trainerFullName}">Trainer Name</h4>
    	<form class="form-horizontal" id="searchDiv">
	    	<table id="example" class="section-card table table-striped table-bordered" cellspacing="0" width="100%">
	        	<thead>
	        		<tr>
	        			<th>Action</th>
	        			<th th:text="#{employee.card.number}">Card Number</th>
		        		<th th:text="#{employee.name}">Name</th>
		        		<th th:text="#{employee.from.date}">From Date</th>
		        		<th th:text="#{employee.to.date}">To Date</th>
		        	</tr>
	        	</thead>
	        	<tbody>
	        		<tr th:each="record, status : ${records}">
	        			<td><a th:href="@{|/employees/detail/${record.teEmployees.employeesEmployeeId}|}" class="btn btn-default">View</a></td>
	        			<td><span th:if="${record.teEmployees.teCard != null}" th:text="${record.teEmployees.teCard.cardsCardNumber}"></span></td>
	        			<td th:text="${record.teEmployees.employeesFullName}"></td>
	        			<td><span th:text="${#dates.format(record.startDate, 'yyyy-MM-dd')}" class="yellow-background"></span></td>
	        			<td th:text="${record.ehDateTo}"></td>
	        		</tr>
	        	</tbody>
	        </table>
	        
	    	<div class="form-group col-sm-12" style="margin-top: 10px;">
	    		<div class="col-sm-4 margin-bottom-10">
		    		<a id="exportWord" href="javascript:void(0)"><button type="button" class="btn btn-default col-sm-12" id="allTrainerEmployees" data-th-text="#{button.print.list}" /></a> 
		    	</div>
	    		<div class="col-sm-4 margin-bottom-10">
		    		<a id="exportCSV" href="javascript:void(0)"><button type="button" class="btn btn-default col-sm-12" id="lisWithAmountBoxes" data-th-text="#{button.print.screen}" /></a> 
		    	</div>
	    		<div class="col-sm-4 margin-bottom-10">
		    		<a th:href="@{|/trainers/detail/${trainer.trainerId}|}"><button type="button" class="btn btn-default col-sm-12" id="sbsSignatureSheet" data-th-text="#{button.trainer.details}" /></a> 
		    	</div>
	    		<div class="col-sm-4 margin-bottom-10">
		    		<button type="button" onclick="exit();" class="btn btn-default col-sm-12" id="perTrainerReport" data-th-text="#{button.exit}" /> 
		    	</div>
	    		<div class="col-sm-4 margin-bottom-10">
		    		<button type="button" class="btn btn-default col-sm-12" id="unpaidOrRelinquished" data-th-text="#{button.update.all.employees}" /> 
		    	</div>
	    	</div>
    	</form>
    </div> 

</div>              <!-- /#wrapper -->
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../../resources/js/jquery-2.1.1.min.js"
        data-th-src="@{/resources/js/jquery-2.1.1.min.js}"></script>
        
    <script type="text/javascript" src="../../resources/js/jquery-ui-1.10.3.custom.min.js"
        data-th-src="@{/resources/js/jquery-ui-1.10.3.custom.min.js}"></script>
         
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../../resources/js/bootstrap.min.js"
        data-th-src="@{/resources/js/bootstrap.min.js}"></script>
 
    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        data-th-src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
         
    <!-- SB Admin Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/sb-admin-2.js}"></script>
        
    <script type="text/javascript" src="../../resources/js/datatable/jquery.datatable.min.js"
        data-th-src="@{/resources/js/datatable/jquery.dataTables.min.js}"></script>
        
    <script type="text/javascript" src="../../resources/js/datatable/datatable.buttons.min.js"
        data-th-src="@{/resources/js/datatable/dataTables.buttons.min.js}"></script>
    
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/	
               
   		var table;
    	var trainerId = [[${trainer.trainerId}]];
    	var type = [[${type}]];
   		$(function() {
   			
   			$('#exportCSV').click(function() {
   				var empType = $('input[name="selectEmployee"]:checked').val();
   				window.location.replace('/turfclubPrograms/trainers/export/'+trainerId+'/'+type);
   			});
   			$('#exportWord').click(function() {
   				var empType = $('input[name="selectEmployee"]:checked').val();
   				window.location.replace('/turfclubPrograms/trainers/pdfDoc/'+trainerId+'/'+type);
   			});
   			setTimeout(function() {
   				$('#successMsg').hide();
   			}, 5000);
   			
   			table = $('#example').DataTable( {
    	        dom: 'Bfrtip',
    	        "searching": false,
    	        buttons: [],
    	        "ordering": false
    	    } );
   			
			$('#searchNameTxt').autocomplete({
				source: function(request, response) {
					//Autocomplete
					$.getJSON('/turfclubPrograms/trainers/findByName',{q:request.term}, function(data) {
						
						if(data.length > 0) {
							response( $.map(data, function( item ) {
					              return {			            	  
					                label: item.name,
					                value: item.name,
					                id: item.id
					              }
							}));
						} else {
							response([{ label: 'No results found.', id: -1}]);
						}
					});
				},
				minLength: 3,
				select: function( event, ui ) {			
					
					$(this).val(ui.item.id);
				}
			});
   		})
   		
   		function goToDetailPage(id) {
   			
   			window.location.replace('/turfclubPrograms/employees/detail/'+id);
   		}
   		
   		function getTrainersEmployees(id) {
   			
   			var empType = $('input[name="selectEmployee"]:checked').val();
   			window.location.replace('/turfclubPrograms/trainers/'+id+'/employees/'+empType);
   		}
   		
   		function exit() {
   			window.location.href = '/turfclubPrograms/employees/manageStaff';
   		}
   		
   		/*]]>*/
       </script>    
          	
        </body>
</html>