<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
 
<head data-th-fragment="header">
 <meta charset="utf-8" />
 <meta http-equiv="pragma" content="no-cache" />
 <meta http-equiv="expires" content="-1" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <title data-th-text="#{edit.trainer}">Title</title>
  
<!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.css"
	data-th-href="@{/resources/css/bootstrap.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/sb-admin-2.css"
	data-th-href="@{/resources/css/sb-admin-2.css}" />
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/select2.css"
	data-th-href="@{/resources/css/select2.css}" />
<!-- <link type="text/css" rel="stylesheet"
	data-th-href="@{/resources/js/angularjs/select2/select.css}" /> -->
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/overrides.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/js/angularjs/boot-datepicker/css/bootstrap-datepicker.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/daterangepicker.css}" />
 

     
    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
        .form-group label { color: white; }
        .form-horizontal .form-group { margin-right: 0px; margin-left: 0px;}
        .add-delete-icon { margin-top: 12px !important; }
        .left-form { float: left;}
        .right-form { float: right;}
        input, select { width: 100% !important;}
        .form-group { margin-top: 2px; margin-bottom: 2px !important;}
        .emp-button { width: 20% !important;}
        #trainerNotes { resize: none;}
        input[type="radio"], input[type="checkbox"] {margin: 0;}
        .datepicker-orient-top { z-index: 9999 !important;}
        .has-error .form-control { border: 1px solid red !important;}
        .section-card { background-color: #666E94; padding: 12px; border-radius: 15px; border: 5px solid rgb(14, 23, 60);}
    </style>
     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->
</head>
<body>
 <div class="container-fluid" >                <!-- /#wrapper -->
 
    <div data-th-replace="mainmenu :: top-nav"></div>
    
    <h3 data-th-text="#{edit.trainer}">Edit Trainer</h3>
    
    <div class="form-container">
    	<div class="alert alert-success" id="successMsg" th:if="${success != null and success != ''}">
    		<span th:text="${success}"></span>
    	</div>
	    <form id="trainerAddForm" class="form-inline" action="#"
			data-th-action="@{/trainers/save}" method="post" data-th-object="${trainer}">

			<input type='hidden' data-th-field="*{trainerId}"></input>
			<div class="left-form col-sm-6 section-card">
				<div class="form-group col-sm-12">
					<label for="batch no" class="col-sm-4" data-th-text="#{trainer.batch.no}">Batch No :</label>
					<div class="col-sm-8">
			  			<input class="form-control input-sm" placeholder='You must enter Batch No'
			  				data-th-field="*{trainerBatchNo}" type='text' required="required" tabindex="1"></input> 
					</div>		
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.account.no}">Account No :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerAccountNo}" 
			  				type='text' required="required" placeholder='You must enter Account No' tabindex="2"></input> 
					</div>
				</div>
			</div>
			
			<div class="section-card right-form col-sm-6">
			
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.insurance.expiry}">Insurance Expiry :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerInsuranceExpiry}" tabindex="21" 
			  				type='text' required="required" placeholder='You must enter Insurance Expiry'></input> 
					</div>
				</div>	
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.contact.name}">Contact Name :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerContactName}" tabindex="22"
			  				type='text'></input> 
					</div>
				</div>	
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.contact.phone}">Contact Phone :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerContactPhone}" tabindex="23"
			  				type='text'></input> 
					</div>
				</div>	
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.notes}">Notes :</label>
		  			<div class="col-sm-8">
		  				<textarea data-th-field="*{trainerNotes}" class="form-control" cols="39" rows="3" tabindex="24"></textarea>
					</div>
				</div>	
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.stable.address1}">Stable Address1 :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerStableAddress1}" tabindex="25"
			  				type='text'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.stable.address2}">Stable Address2 :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerStableAddress2}" tabindex="26"
			  				type='text'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.stable.address3}">Stable Address3 :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerStableAddress3}" tabindex="27"
			  				type='text'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.restricted}">Restricted :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerRestricted}" tabindex="28"
			  				type='text' required="required" placeholder='You must enter Restricted'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.hunter.chase}">Hunter Chase :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerHunterChase}" tabindex="29"
			  				type='text' required="required" placeholder='You must enter Hunter Chase'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.curragh}">Curragh :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerCurragh}" tabindex="30"
			  				type='text' required="required" placeholder='You must enter Curragh'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="col-sm-4" data-th-text="#{trainer.return.complete}">Return Complete</label>
					<div class="col-sm-8">
						<input type="checkbox" data-th-field="*{trainerReturnComplete}" value="true" 
							class="form-control input-sm" tabindex="31" />
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="categoryOfEmployment" class="col-sm-4" data-th-text="#{trainer.verified.status}">Verified Status :</label>
					<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerVerifiedStatus}" tabindex="32"
			  				required="required" type='text' data-error="You must select an employment category"></input> 
						<input type="hidden" id="verifiedStatusEnum" data-th-value="  ${verifiedStatusEnum}"></input>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.last.racecard.id}">Last Racecard Id</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerLastRacecardId}" tabindex="33"
			  				type='text' required="required" placeholder='You must enter Last RaceCard Id'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.time.entered}">Time Entered</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerTimeEntered}" tabindex="34"
			  				type='text' required="required" placeholder='You must enter Time Entered'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.date.completed}">Date Completed</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerDateCompleted}" tabindex="35"
			  				type='text' required="required" placeholder='You must enter Date Completed'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.returns.completed.year}">Returns Year</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{returnsCompletedYear}" tabindex="36"
			  				type='text' required="required" placeholder='You must enter Returns Year'></input> 
					</div>
				</div>
			</div>
			<div class="left-form col-sm-6 section-card">
				<div class="form-group col-sm-12">
					<label for="title" class="col-sm-4" data-th-text="#{employee.title}">Title :</label>
					<div class="col-sm-8">
			  			<input class="form-control input-sm" data-title="title" tabindex="3"
			  				data-th-field="*{title}" type='text' required="required"></input> 
			  			<input type="hidden" id="titles" data-th-value="  ${titlesEnum}"></input>
					</div>		
				</div>
				<div class="form-group col-sm-12">
					<label for="sex" class="col-sm-4" data-th-text="#{employee.sex}">Sex :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{sex}" tabindex="4"
			  				type='text' required="required"></input> 
						<input type="hidden" id="sexEnum" data-th-value="  ${sexEnum}"></input>
					</div>
				</div>		
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.firstname}">Firstname :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerFirstName}" tabindex="5"
			  				type='text' required="required" placeholder='You must enter first name'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.surname}">Surname :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerSurname}" tabindex="6"
			  				type='text' required="required" placeholder='You must enter Surname'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.date.of.birth}">Date Of Birth :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerDateOfBirth}" data-dateofbirth="dateofbirth"
			  				type='text' required="required" placeholder='You must enter Date Of Birth' tabindex="7"></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.address1}">Address1 :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerAddress1}" tabindex="8"
			  				type='text' required="required" placeholder='You must enter address1' ></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.address2}">Address2 :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerAddress2}" tabindex="9"
			  				type='text' required="required" placeholder='You must enter address2'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.address3}">Address3 :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerAddress3}" tabindex="10"
			  				type='text' required="required" placeholder='You must enter address3'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="county" class="col-sm-4" data-th-text="#{employee.county}">County :</label>
					<div class="col-sm-8">
			  			<input data-county="county" class="form-control input-sm" data-th-field="*{county}" 
			  				type='text' required="required" tabindex="11"></input> 
						<input type="hidden" id="countiesEnum" data-th-value="  ${countiesEnum}"></input>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="postcode" class="col-sm-4" data-th-text="#{employee.postcode}">Post Code :</label>
					<div class="col-sm-8">
		  				<input data-th-field="*{postCode}" class="form-control input-sm" tabindex="12"
		  					required="required" placeholder='Post Code (if applicable)'/>
		  			</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="country" class="col-sm-4" data-th-text="#{employee.country}">Country :</label>
					<div class="col-sm-8">
			  			<input data-country="country" class="form-control input-sm" data-th-field="*{country}" 
			  				type='text' required="required" tabindex="13"></input> 
						<input type="hidden" id="countriesEnum" data-th-value="  ${countriesEnum}"></input>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="nationality" class="col-sm-4" data-th-text="#{employee.nationality}">Nationality :</label>
					<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{nationality}" 
			  				type='text' required="required" tabindex="14"></input> 
						<input type="hidden" id="nationalityEnum" data-th-value="  ${nationalityEnum}"></input>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.phone.no}">Phone No :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerHomePhone}" 
			  				type='text' tabindex="15"></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.mobile.no}">Mobile No :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerMobilePhone}" tabindex="16"
			  				type='text' required="required" placeholder='You must enter Mobile No'></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.fax}">Fax :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerFax}" 
			  				type='text' tabindex="17"></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="acccount no" class="col-sm-4" data-th-text="#{trainer.email}">Email :</label>
		  			<div class="col-sm-8">
			  			<input class="form-control input-sm" data-th-field="*{trainerEmail}" data-emailpattern="emailpattern"
			  				type='text' required="required" placeholder='You must enter Email' tabindex="18"></input> 
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="col-sm-4"><span  data-th-text="#{employee.marital.status}">Marital Status</span></label>
					<div class="col-sm-8">
						<input class="form-control input-sm" data-th-field="*{maritalStatus}" 
							type='text' required="required" tabindex="19"></input> 
						<input type="hidden" id="maritalEnum" data-th-value="  ${maritalEnum}"></input>
					</div>
				</div>
				<div class="form-group col-sm-12">
					<label for="spouseName" class="col-sm-4" data-th-text="#{employee.spouse.name}">Spouse's Name :</label>
					<div class="col-sm-8">
		  				<input data-th-field="*{spouseName}" class="form-control input-sm" tabindex="20"/>
		  			</div>
				</div>	
			</div>	
			
			<div class="form-group col-sm-12 text-center">
				<button type="button" id="submitButton" class="btn btn-success" th:value="#{employee.save.record}" >Save Record</button>
				<a href="/turfclubPrograms/trainers/searchPage"><button type="button" class="btn btn-danger" th:value="#{employee.exit}" >Exit</button></a>
			</div>
		</form>
	</div>

	<!-- /#wrapper -->
    
</div>              <!-- /#wrapper -->
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../../resources/js/jquery-2.1.1.min.js"
        data-th-src="@{/resources/js/jquery-2.1.1.min.js}"></script>
         
    <script type="text/javascript" src="../../resources/js/validator.min.js"
		data-th-src="@{/resources/js/validator.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../../resources/js/bootstrap.min.js"
        data-th-src="@{/resources/js/bootstrap.min.js}"></script>
 
    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        data-th-src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
         
    <!-- SB Admin Scripts - Include with every page -->
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/sb-admin-2.js}"></script>
    
    <script src="../../resources/js/select2.js" type="text/javascript"
		data-th-src="@{/resources/js/select2.js}"></script>
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/moment/moment.js}"></script>
            
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/daterangepicker/daterangepicker.js}"></script>
    
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/boot-datepicker/js/bootstrap-datepicker.js}"></script>
    
    <script type="text/javascript" src="../../resources/js/sb-admin-2.js"
        data-th-src="@{/resources/js/angularjs/typeahead/typeahead.js}"></script>
        
    <script type="text/javascript"
		src="../../resources/js/employee/add.js"
		data-th-src="@{/resources/js/trainers/edit.js}"></script>
        
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/	
    	$(function() {
    		
    		// setup date pickers
    		$("#trainerInsuranceExpiry").datepicker({
    			changeMonth : true,
    			changeYear : true,
    			format: 'dd/mm/yyyy'
    		}).on('changeDate', function(ev){
    		    $(this).datepicker('hide');
    		});
    		
    		// setup date pickers
    		$("#trainerTimeEntered").datepicker({
    			changeMonth : true,
    			changeYear : true,
    			format: 'dd/mm/yyyy'
    		}).on('changeDate', function(ev){
    		    $(this).datepicker('hide');
    		});
    		
    		// setup date pickers
    		$("#trainerDateCompleted").datepicker({
    			changeMonth : true,
    			changeYear : true,
    			format: 'dd/mm/yyyy'
    		}).on('changeDate', function(ev){
    		    $(this).datepicker('hide');
    		});
    		
    		// setup date pickers
    		$("#trainerDateOfBirth").datepicker({
    			changeMonth : true,
    			changeYear : true,
    			endDate : '+0d',
    			format: 'dd/mm/yyyy'
    		}).on('changeDate', function(ev){
    		    $(this).datepicker('hide');
    		});
    	});
    	/*]]>*/
    </script>    
       	
	</body>
</html>