<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head data-th-fragment="header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title data-th-text="#{vetreport.list.page.title}">Title</title>

<!-- Core CSS - Include with every page -->
<link type="text/css" rel="stylesheet"
	href="../../resources/css/bootstrap.css"
	data-th-href="@{/resources/css/bootstrap.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
	data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />
<link type="text/css" rel="stylesheet"
	href="../../resources/css/sb-admin-2.css"
	data-th-href="@{/resources/css/sb-admin-2.css}" />

<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />

<link type="text/css" rel="stylesheet"
	href="../../resources/css/select2.css"
	data-th-href="@{/resources/css/select2.css}" />
<link rel="stylesheet" type="text/css" data-th-href="@{//cdn.datatables.net/1.10.0/css/jquery.dataTables.css}"/>
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/overrides.css}" />
<script type="text/javascript"
	src="../../resources/js/jquery-2.1.1.min.js"
	data-th-src="@{/resources/js/jquery-2.1.1.min.js}"></script>

<script type="text/javascript" data-th-src="@{//cdn.datatables.net/1.10.0/js/jquery.dataTables.js}"></script>
<script type="text/javascript" src="../../resources/js/trainers-list.js"
	data-th-src="@{/resources/js/trainers-list.js}"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->
</head>
<body>

<div class="container-fluid">
		<!-- /#wrapper -->

		<div data-th-replace="fragments/trainersEmployeesTopBar :: top-nav"></div>

		<input id="type" type="hidden" data-th-value="${type}"></input>

		<div class="jumbotron">
		<div class="col-lg-1"></div>
<div class="col-lg-10">
<h3 class="page-header" id="header"
					data-th-text="#{trainersEmployees.list.table.title}"></h3>
<div class="table responsive">
<table class="table table-striped table-bordered table-hover"><tr><td>
	<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
     			<th>Address</th>
     			<th>Contact</th>
     			<th>Notes</th>
     			<th>Return Complete</th>
     			<th>P35 Received</th>
     			<th>Verified</th>
     			

            </tr>
        </thead>       
    </table>
    </td></tr></table>
</div>

</div>
			<!-- /.col-lg-12 -->
<div class="col-lg-1"></div>
		</div>
		<!-- page wrapper -->
	</div>


<!-- /#wrapper -->
<script type="text/javascript"
	src="../../resources/js/bootstrap.min.js"
	data-th-src="@{/resources/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="../../resources/js/select2.js" type="text/javascript"
	data-th-src="@{/resources/js/select2.js}"></script>


</body>
</html>